.container {
    font-size: 1rem;
    padding: 10px;
}

.container .contractInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 40px;
}

.container .contractInfo .contractInfoCell {
    width: 100%;
    display: inline-flex;
}

.container .contractInfo .contractInfoCell .contractInfoCellKey {
    font-weight: bold;
    margin-right: 10px;
}

.container .contractForm {}

.container .contractForm input {
    border: 1px solid gray;
    outline: none;

    padding: 5px;
    border-radius: 5px;
}

.container .contractForm .contractFormRow {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.container .contractForm .contractFormRow p {
    font-weight: bold;
}

.container .contractForm .contractFormRow .contractFormLabelInline {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.container .contractForm .contractFormRow .contractFormLabelInline p {
    margin-left: 5px;
}

.container .contractForm .contractFormTaxes {
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 8px;
}

.container .contractForm .contractFormTechRetention label {

    width: 45%;
}

.container .contractForm .contractFormTechRetention label input {
    width: 100%;
}