.page {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(245, 255, 231);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.page .content {
    width: 70%;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid lightgray;
}

.page .content .header {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page .content .header .brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.page .content .header .brand .logo {
    width: 130px;
    background-color: rgb(48, 68, 119);
    align-self: flex-start;
}

.page .content .header .brand .logo img {
    width: 100%;
}

.page .content .header .brand h1 {
    width: 100%;
    font-size: 2.2rem;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.page .content .header .info {
    width: 100%;
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    border-radius: 8px;
    margin: 10px 0 10px 0;
    font-size: 1.2rem;
}

.page .content .header .info div {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.page .content .header .info div.cnpj {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}

.page .content .header .info div p {
    margin-right: 10px;
    font-weight: bold;
}

.page .content .body {
    width: 100%;
    border-radius: 12px;
}

.page .content .body .title {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    padding: 5px;
    border: 1px solid red;
    border-radius: 8px;
}

.page .content .body .table {
    display: table;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 5px;

}

.page .content .body .table .line {
    display: table-row;
    background-color: rgb(242, 241, 241);

}

.page .content .body .table .line div {
    display: table-cell;
    vertical-align: middle;
}

.page .content .body .table .description {
    background-color: darkgray;
    color: white;
}

.page .content .body .table .description div {
    padding: 4px;
}

.techRetention {
    background-color: rgb(62, 95, 196);
    color: white;
    text-align: center;
    width: 70%;
    padding: 2 px;
}


.page .content .footer {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.page .content .footer .footerLogo {
    width: 115px;
    background-color: rgb(48, 68, 119);
    margin-top: 25px;

}

.page .content .footer .footerLogo img {
    width: 100%;
}

.page .content .footer .footerButtons {
    width: 50%;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.page .content .footer button {
    width: 40%;
    padding: 5px;
    cursor: pointer;
    margin: 5px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0);
}

.page .content .footer button:hover {
    border: 1px solid darkslategray;
}

img {
    max-width: 200px;
}

.btnAnterior {
    background-color: orange;
    color: white;
}

.btnProximo {
    background-color: green;
    color: white;
}

.buttonDetails {
    width: 35px;
    height: 35px;
    background-color: rgb(62, 95, 196);
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.checkbox {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-family: sans-serif;
    position: relative;
}

.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkbox .checkmark {
    width: 30px;
    height: 30px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.checkbox .checkmark::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.checkbox:hover .checkmark {
    background-color: #DDD;
}


.checkbox input:checked+.checkmark {
    background-color: #4f46e5;
}

.checkbox input:checked+.checkmark::after {
    content: "✓";
    color: white;
    font-size: 14px;
}