.table {
    display: table;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 5px;

}

.table .line {
    display: table-row;
    background-color: rgb(242, 241, 241);

}

.table .line div {
    display: table-cell;
    vertical-align: middle;
}

.table .description {
    background-color: darkgray;
    color: white;
}

.table .description div {
    padding: 4px;
}

.techRetention {
    background-color: rgb(62, 95, 196);
    color: white;
    text-align: center;
    width: 70%;
    padding: 2 px;
}

.buttonDetails {
    width: 35px;
    height: 35px;
    background-color: rgb(62, 95, 196);
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.checkbox {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-family: sans-serif;
    position: relative;
}

.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkbox .checkmark {
    width: 30px;
    height: 30px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.checkbox .checkmark::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.checkbox:hover .checkmark {
    background-color: #DDD;
}


.checkbox input:checked+.checkmark {
    background-color: #4f46e5;
}

.checkbox input:checked+.checkmark::after {
    content: "✓";
    color: white;
    font-size: 14px;
}